/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

html {
    font-family: 'Inter', sans-serif;
    font-family: 'Rubik', sans-serif;
}

body {
    min-width: 500px;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.debug-border{
    border: 1px dashed black;
}

img {
    width: 100%;
    display: block;
}

.grey-text {
    color: rgb(135, 135, 135);
}

.white-text {
    color: white;
}

#wrapper {
    height: calc(100vh - 90px);
    display: flex;
}

h4 {
    font-weight: 500;
    padding: 10px 0;
}
/* ASIDE */

aside {
    min-width: 200px;
    height: 100%;
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

aside > * {
    padding: 10px;
}

aside li {
    margin: 10px 0;
}

aside > .navigation {
    margin-bottom: 10px;
}

aside > .navigation > ul > li  i {
    width: 20%;
    font-size: 23px;
}

::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    background: lightgrey; 
    border-radius: 10px;
  }

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

aside #playlist-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

aside #playlist-container ul {
    overflow: auto;
    flex-grow: 1;
}

aside #playlist-container ul li {
    padding-top: 5px;
    padding-bottom: 5px;
}

aside #playlist-container ul li a {
    padding-top: 5px;
    padding-bottom: 5px;
}

aside #playlist-container h4 {
    height: 50px;
}

aside #playlist-container #add-playlist {
    height: 50px;
}

aside #playlist-container ul {
    overflow: auto;
    flex-grow: 1;
}


aside #add-playlist > button {
    margin-right: 10px;
    background-color: grey;
    color: black;
    border: none;
    font-size: 20px;
}

aside #add-playlist > button > i {
    padding: 8px 10px ;
}

#playlist a {
    font-size: small;
}

aside > .account {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

aside > .account a:last-of-type {
    font-size: larger;
    display: flex;
    align-items: center;
}

aside > .account a:last-of-type i {
    font-size: 30px;
}

aside > .account > hr {
    margin: 5px 0;
}


aside > .account > a > i {
    padding-right: 10px;
}


/*  MAIN */

main {
    padding-top: 80px;
    height: 100%;
    flex-grow: 1;
    background-color: #141922;
    overflow: auto;
}


/* MAIN HEADER */

#wrapper > main > header {
    width: calc(100% - 200px);
    height: 80px;
    background-color: #262626c1;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 40px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

#premium {
    color: white;
    padding: 10px 30px;
    border: 2px solid white;
    border-radius: 25px;
}


/* JUKEBOX */
         
.jukebox{
    min-height: 1000px;
    background-color: #141922;
    padding: 0 10px;
}

.jukebox h2 {
    font-weight: 500;
    color: white;
    padding: 20px 0;
}



    /*          GENRE          */

    .genre {
        height: 50px;
        padding: 10px;
        background-color: #141922;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .genre > ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .genre > ul > li > a {
        margin: 5px 5px;
        padding: 5px 8px;
        font-size: small;
        font-weight: 100;
        color: rgb(135, 135, 135);
    }

    /*          MY-ROW        */

    .my-row {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        margin-right: -10px;
        margin-left: -10px;
    }

    .card {
        background-color: #141922;
        color: white;
        text-align: center;
        width: calc((100% / 6) - 20px);
        min-height: 200px;
        padding: 2px 2px;
        margin: 10px;
        
    }

    .img-box {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .card , .img-box > img , .card > .img-box > .overlay {
        border-radius: 5px;
    }

    .card > .img-box > .overlay {
        width: 100%;
        height: 100%;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.616);
        color: white;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
    }

    .title {
        color: white;
        font-weight: 400;
        padding: 20px 0 5px;
    }

    .subtitle {
        color: rgb(135, 135, 135);
        font-weight: 200;
        font-size: small;
        display: inline-block;
    }


/* FOOTER */

footer {
    height: 90px;
    background-color: #282828;
    padding: 5px;
}

footer .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.debug footer > .container > section {
    display: flex;
    align-items: center;
}

/*  LEFT FOOTER */

    .left-footer {
        min-width: 10%;
    }

    .left-footer > .small-card {
        display: flex;
    }

    .left-footer > .small-card > .img-box {
        max-width: 80px;
        padding: 10px;
    }

    .left-footer > .small-card > .img-box > img {
        border: 1px solid grey;
    }

    .left-footer > .small-card > .current-track {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .left-footer > .small-card > .current-track * {
        margin: 2px 2px;
        padding: 2px;
    }

    .left-footer > .fast-command {
        display: flex;
        align-items: center;
    }

    .left-footer > .fast-command > a {
        padding: 10px;
        margin: 0 5px
    }


/*  CENTER FOOTER */

    .center-footer {
        min-width: 50%;
        display: flex;
        flex-direction: column;
    }

    .center-footer > .play-menu {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .center-footer > .play-menu > ul {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .center-footer > .play-menu > ul > li {
        font-size: 20px;
        padding: 3px 5px;
        margin: 0 10px;
    }

    .center-footer > .play-menu > ul > li > #play-button {
        font-size: 30px;
    }

    .center-footer > .music-time {
        width: 100%;
        min-height: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .time {
        font-size: small;
        padding: 5px;
        margin: 0 5px;
        color: white;
    }

    .container-trackbar {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #trackbar {
        width: 100%;
        height: 4px;
        background-color: rgb(135, 135, 135);
        border-radius: 10px;
    }

    #trackbar-state {
        width: 30%;
        height: 4px;
        background-color: lightgrey;
        border-radius: 10px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    #trackbar-state > i {
        color: white;
        background-color: lightgrey;
        border-radius: 50%;
        display: none;
    }

    /* RIGHT FOOTER */

    .right-footer {
        display: flex;
        min-width: 15%;
    }

    .control-panel {
        width: 100%;
    }

    .control-panel > ul {
        display: flex;
        width: 100%;
    }

    .control-panel > ul > li {
        width: 5%;
        margin: 0 10px;
        padding: 3px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .control-panel > ul > li:last-of-type {
        width: 100%;
    }

    .control-panel #trackbar-state > i {
        font-size: 10px;
    }





/*  RESPONSIVE */

@media screen and (max-width: 1100px) {

    .card {
        width: calc((100% / 4) - 20px);
    }

    .left-footer .title, .left-footer .title {
        font-size: smaller;
    }
}

@media screen and (max-width: 700px) {

    .card {
        width: calc((100% / 2) - 20px);
    }
}

@media screen and (max-width: 600px) {

    .card {
        width: calc((100% / 2) - 20px);
    }

    aside {
        display: none;
    }

    #wrapper > main > header {
        width: 100%;
    }

    .left-footer i {
        transform: scale(0.7);
        padding: 0;
    }
}


/*  INTERAZIONI  */
.genre > ul > li > a:hover {
    text-decoration: underline 2px #ADFF2F;
}

.card:hover {
    background-color: #2d3543;
}

.card:hover .overlay {
    opacity: 1;
}


#premium:hover , #play-button i:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.subtitle:hover {
    text-decoration: underline 1px white;
}

i:hover ,
.subtitle:hover ,
.genre > ul > li > a:hover ,
aside #add-playlist:hover span,
aside .account a:hover {
    color: white;
}

.container-trackbar:hover #trackbar-state {
    background-color: #ADFF2F;
}

.container-trackbar:hover #trackbar-state > i {
    display: block;
}

aside li:hover {
    color: white;
    border-left: 2px solid #ADFF2F;
    padding-left: 5px;
}

aside #add-playlist:hover button {
    background-color: lightgrey;
    color: black;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
